.button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;

  a {
    padding: 5px 10px;
  }

  &--danger {
    background-color: #dc3545;
  }

  &--submit {
    background-color: #28a745;
  }

  &--cancel {
    background-color: #E6E6E6;
    color: #333;
  }

  &--warning {
    background-color: #204388;
  }
}