.quote {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  border: 1px solid #eee;
  border-radius: 0.33em;
  padding: 1em;
  color: #333;

  .quote__details {
    display: flex;
    flex-direction: column;
    padding: 0.2em;
    gap: 0.2em;
  }

  .quote__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  p {
    margin: 0;
  }

  section {
    display: flex;
    flex-direction: row;
    gap: 0.2em;
  }

  .quote__input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 0.33em;
    margin-bottom: 0.2em;
    min-height: 2em;
  }

  .quote__likes {
    align-self: flex-end;
  }

  .quote__like-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.2em;
  }

  .quote__like-count {
    background-color: #007bff;
    display: flex;
    color: white;
    padding: 5px 10px;
    justify-content: center;
    font-size: 16px;
    border-radius: 5px;
    margin: 4px 2px;
    cursor: default;
  }
}

.quote__list {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.quote__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: #333;
  }
}